<% include partials/header %>

<div id="header" class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Halloween is just days away!</h1>
        <p class="lead">Get inspired :)</p>
        <a href="" class="btn btn-outline-primary">Login</a>
    </div>
</div>

<section id="gallery">
    <div class="container">
        <div class="card-columns">
            <% photos.forEach(function(photo){ %>
                    <div class="card">
                        <img class="card-img-top" src="<%= photo.image %>" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Photo</h5>
                            <a href="" class="btn btn-outline-success btn-sm">Download</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
            <% }); %>
        </div>
    </div>
</section>

<% include partials/footer %>