body {
    font-family: 'Nunito', sans-serif;
}
#header {
    background: url("../imgs/danny-g-395663-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

nav {
    border-bottom: 1px solid #ffbb33;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}