#header {
    background: url("../imgs/moon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(94, 255, 0);
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}