<% include ../partials/header %>

<section>
    <div class="container">
        <div class="text-center my-2">
            <h3><%=currentUser.firstName%>'s favourite images:</h3>
        </div>
        <div class="card-columns">
            <% images.forEach(function(image){ %>
                <div class="card">
                    <a href="<%= image.path %>" data-fancybox>
                        <img class="card-img-top" src="../<%= image.path %>" alt="">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= image.title %></h5>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section>

<% include ../partials/footer %>